<alv-sidebar-item class="block">
  <%= link_to @url, class: "flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" do %>
    <% if content.present? %>
      <%= content %>
    <% else %>
      <% if @icon %>
        <%= render(IconComponent.new(@icon, class: "w-5 h-5")) %>
      <% end %>

      <span class="mx-2 text-sm font-medium"><%= @title %></span>
    <% end %>
  <% end %>
</alv-sidebar-item>
