<alv-footer-link>
  <a href="<%= @href %>" target="_blank" class="text-gray-400 hover:text-gray-500">
    <span class="sr-only"><%= @name %></span>
    <%= image_tag 'alveole/icons/favicon-150.png', class: "h-6" %>
  </a>
</alv-footer-link>
